In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import os

In [2]:
# load url
url ="http://www.espn.co.uk/football/table/_/league/eng.1"

# create a new Firefox session
driver = webdriver.Firefox()
driver.implicitly_wait(30)
driver.get(url)

In [3]:
# load data values and append to data list
datalist = []
for i in range(1, 21):
    # pos = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[1]/table[1]/tbody/tr['+ str(i) +']/td/div/span[1]').text   

    teams = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[1]/table[1]/tbody/tr['+ str(i) +']/td/div/span[4]/a').text   

    gp = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[2]/div/div/div[2]/table/tbody/tr/td/table/tbody/tr['+ str(i) +']/td[1]/span').text

    w = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[2]/div/div/div[2]/table/tbody/tr/td/table/tbody/tr['+ str(i) +']/td[2]/span').text

    d = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[2]/div/div/div[2]/table/tbody/tr/td/table/tbody/tr['+ str(i) +']/td[3]/span').text

    l = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[2]/div/div/div[2]/table/tbody/tr/td/table/tbody/tr['+ str(i) +']/td[4]/span').text
    
    f = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[2]/div/div/div[2]/table/tbody/tr/td/table/tbody/tr['+ str(i) +']/td[5]/span').text

    a = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[2]/div/div/div[2]/table/tbody/tr/td/table/tbody/tr['+ str(i) +']/td[6]/span').text

    gd = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[2]/div/div/div[2]/table/tbody/tr/td/table/tbody/tr['+ str(i) +']/td[7]/span').text

    p = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[5]/div[3]/div[1]/div/section/section/section/div[1]/section/table/tbody/tr/td[2]/div/div/div[2]/table/tbody/tr/td/table/tbody/tr['+ str(i) +']/td[8]/span').text

    datalist.append([teams, gp, w, d ,l ,f, a, gd, p])

driver.quit()

In [4]:
# label columns and start row at 1
df = pd.DataFrame(datalist, columns=['Team', 'Games Played', 'Wins', 'Draw', 'Losses', 'Goals Scored', 'Goals Conceeded', 'Goal Difference', 'Points'])
df.index = df.index + 1
df.index.name = 'Position'

In [5]:
df

,Team,Games Played,Wins,Draw,Losses,Goals Scored,Goals Conceeded,Goal Difference,Points
Position,,,,,,,,,
1,Manchester City,30,24,2,4,79,21,+58,74
2,Liverpool,30,22,7,1,68,17,+51,73
3,Tottenham Hotspur,30,20,1,9,57,32,+25,61
4,Arsenal,30,18,6,6,63,39,+24,60
5,Manchester United,30,17,7,6,58,40,+18,58
6,Chelsea,29,17,6,6,50,31,+19,57
7,Wolverhampton Wanderers,30,12,8,10,38,36,+2,44
8,Watford,30,12,7,11,42,44,-2,43
9,West Ham United,30,11,6,13,37,43,-6,39
10,Leicester City,30,11,5,14,38,42,-4,38
11,Everton,30,10,7,13,41,42,-1,37
12,AFC Bournemouth,30,11,4,15,41,54,-13,37
13,Newcastle United,30,9,7,14,29,38,-9,34
14,Crystal Palace,30,9,6,15,36,41,-5,33
15,Brighton & Hove Albion,29,9,6,14,32,42,-10,33
16,Southampton,30,7,9,14,34,50,-16,30
17,Burnley,30,8,6,16,34,57,-23,30
18,Cardiff City,30,8,4,18,27,57,-30,28
19,Fulham,30,4,5,21,28,68,-40,17
20,Huddersfield Town,30,3,5,22,15,53,-38,14